<html>
    <head>
        <title>Create Password</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="container">
            <form class="registration" id="regForm" action="http://localhost:5000/createPass" method="post">
                <h1 class="title">Create Password</h1>
                <div class="formInput">
                    <input type="text" class="form-input" autofocus placeholder="Email Address" name="user">
                </div>
                <div class="formInput">
                    <input type="text" class="form-input" autofocus placeholder="Label of Password" name="label">
                </div>
                <button class="form-button" type="submit" id="btnSubmit">Submit</button>
                <div class="formText">
                    <p class="form-text">
                        <a class="form-link" href="main.html" id="linkHome">Return to home page</a>
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>