<html>
    <head>
        <title>Edit Details</title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <div class="container">
            <form class="registration" id="regForm" method="POST" action="/modifyuser/<%= id %>">
                <h1 class="title">Edit Details</h1>
                <div class="formInput">
                    <input type="text" class="form-input" autofocus placeholder="First Name" id="fname" value="" name="f_name">
                </div>
                <div class="formInput">
                    <input type="text" class="form-input" autofocus placeholder="Last Name" id="lname" value="" name="l_name">
                </div>
                <div class="formInput">
                    <input type="text" class="form-input" style="background: #d5d5d5;" autofocus placeholder="Email Address" id="email" value="" name="email">
                </div>
                <div class="formInput">
                    <input type="password" class="form-input" autofocus placeholder="Password" id="pass" name="password">
                </div>
                <!-- <div class="formInput">
                    <input type="password" class="form-input" autofocus placeholder="Confirm Password">
                </div> -->
                <div class="formInput">
                    <input class="form-input" type="text" style="background: #d5d5d5;" onfocus="(this.type='date')" onblur="(this.type='text')" autofocus placeholder="Date of Birth" id="dob" value="" name="dob">
                </div>
                <div class="formInput">
                    <input type="text" class="form-input" style="background: #d5d5d5;" autofocus placeholder="Gender" list="gendername" id="gender" name="gender" value="">
                        <datalist id="gendername">
                            <option value="Male">
                            <option value="Female">
                            <option value="Others">
                        </datalist>
                </div>
                <div class="formInput">
                    <input type="text" class="form-input" autofocus placeholder="Phone Number" id="phn" name="phone" value="">
                </div>
                <button class="form-button" type="submit" id="btnSubmit">Submit</button>
                <!-- <div class="formText">
                    <p class="form-text">
                        <a class="form-link" href="view_user.html" id="linkView">Return to view all users</a>
                    </p>
                </div> -->
            </form>
        </div>
    </body>
</html>