<html>
    <head>
        <title>View Password</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        
        <div class="container">
            <h1 class="title">View Password</h1>
            <% for(var i=0;i<details.length;i++){ %>
                <div class="formInput">
                    <span class="form-input"><b>Label:</b><%= details[i].label %> </span>
                </div>
                <div class="formInput">
                    <span class="form-input"><b>Password:</b><%= details[i].password %> </span>
                </div>
            <% } %>
            
        </div>
    </body>
</html>